<div class = "main_container">
    <h2>スケジュール編集</h2>

    <% if flash[:notice] %>
        <div class="flash flash_error">
            <%= flash[:notice] %>
        </div>
    <% end %>

    <%= form_with model: @post do |f| %>

        <% @post.errors.full_messages.each do |message| %>
            <%= message %><br>
        <% end %>

        <table>
            <tr>
                <th>タイトル</th>
                <td><%= f.text_field :title, value: "post[:title]" %></td>
            </tr>
            <tr>    
                <th>開始日</th>
                <td><%= f.date_select :start_day, value: "post[:start_day]" %></td>
            </tr>
            <tr>
                <th>終了日</th>
                <td><%= f.date_select :end_day, value: "post[:end_day]" %></td>
            </tr>
            <tr>
                <th>終日</th>
                <td><%= f.check_box :all_day, value: "post[:all_day]" %></td>
            </tr>
            <tr>
                <th>スケジュールメモ</th>
                <td><%= f.text_area :memo, value: "post[:memo]" %></td>
            </tr>

        </table>   

    <ul>
        <li>
            <%= f.submit "スケジュールの編集を反映する" %>
        </li>

        <li>
            <%= link_to "スケジュール一覧に戻る", :posts %>
        </li>
        
    </ul>
    
    <% end %>

</div>