<div class = "main_container">
    <h2>スケジュール新規作成</h2>

    <% if flash[:notice] %>
        <div class="flash flash_error">
            <%= flash[:notice] %>
        </div>
    <% end %>

    <%= form_tag("/posts/create") do %>

        <% @post.errors.full_messages.each do |message| %>
            <%= message %><br>
        <% end %>

        <table>
            <tr>
                <th>タイトル</th>
                <td><input name="title" value="<%= @post.title %>"></td>
            </tr>
            <tr>
                <th>開始日</th>
                <td><input name="start_day" type="date" value="<%= @post.start_day %>"></td>
            </tr>
            <tr>
                <th>終了日</th>
                <td><input name="end_day" type="date" value="<%= @post.start_day %>"</td>
            </tr>
            <tr>
                <th>終日</th>
                <td><input name="all_day" type="checkbox"><br>終日の場合はチェックを入れます</td>
            </tr>
            <tr>
                <th>スケジュールメモ</th>
                <td><textarea name="memo" ><%= @post.memo %></textarea></td>
            </tr>

        </table>

    <ul>
        <li>
            <input class="button" type="submit" value="スケジュールを新規登録する">
        </li>

        <li>
            <%= link_to("スケジュール一覧に戻る", "/posts/index") %>
        </li>

    </ul>

    <% end %>

</div>